<html>
    <head>
        <title>VueJS: Getting Started</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <div id="app">
            <div>
                Message: {{ welcome_message }}!
            </div>
            <div>
                <!-- v-bind is a directive attribute.  All directives have the "v-" prefix -->
                <span v-bind:title="hover_msg">
                    Hover your mouse over me for a few seconds to see my dynamically bound title!
                </span>
            </div>
            <div>
                <!-- Conditional render, won't show if 'seen' attribute is falsey -->
                <span v-if="seen">Now you see me</span>
            </div>

            <div>
                <ol>
                    <!-- Iterates over a collection -->
                    <li v-for="todo in todos">
                        {{ todo.text }}
                    </li>
                </ol>
            </div>

            <div>
                <!-- v-on attaches event listeners invoking methods -->
                <button v-on:click="reverseMessage">Reverse Message</button>
            </div>

            <div>
                <!-- Demonstrates 2 way data binding, changing this affects the other directives -->
                <input v-model="welcome_message">
            </div>

            <!-- Vue component, defined in the JS -->
            <hello-message v-bind:name="name"></hello-message>

            <div>
                <ol>
                    <!-- More complete Vue component example -->
                    <shopping-item
                        v-for="item in shopping_list"
                        v-bind:item="item"
                        v-bind:key="item.id">
                    </shopping-item>
                </ol>
            </div>
        </div>
    </body>
</html>